.footerBox {
  background-color: #111;
  padding: 40px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFF;

  &-content {
    width: 45%;
  }
}


.titlePage {
  font-size: 28px;
  font-family: 'Montserrat','Open Sans', sans-serif;
}

.dscPage {
  font-weight: 400;
  font-family: 'Open-Sans', sans-serif;
  color: #777;
  line-height: 25px;
  margin: 30px 0px;
  font-size: 16px;
}

.copy {
  font-weight: 600;
  font-family: 'Open-Sans', sans-serif;
  color: #777;
  line-height: 25px;
}

.navBoxFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  font-weight: 500;
  justify-content: flex-end;

  span {
    margin: 0 15px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s;
    letter-spacing: 2px;
    user-select: none;
    font-family: 'Montserrat','Open Sans', sans-serif;
    
    &:hover {
      opacity: 0.6;
    }
  }
}

.socialBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}

.socialIcon {
  width: 25px;
  height: auto;
  cursor: pointer;
  margin: 0 10px;
}

@media (max-width: 1050px) {
  .navBoxFooter {
    span {
      margin: 0 8px;
    }
  }
}

@media (max-width: 950px) {
  .footerBox {
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px 60px;

    &-content {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .navBoxFooter {
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .socialBox {
    justify-content: center;
    margin: 40px 0;
  }
}

@media (max-width: 650px) {
  .footerBox {
    padding: 30px 40px;
  }
}

@media (max-width: 550px) {
  .footerBox {
    padding: 30px;
  }

  .copy {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .navBoxFooter {
    & span {
      flex-grow: 0;
      max-width: 40%;
      flex-basis: 40%;
      text-align: center;
      margin: 15px 5px;
    }
  }

  .socialBox {
    margin: 20px 0;
  }
}