.homebox {
  padding: 40px 80px;
}

@media (max-width: 1050px) {
  .homebox {
    padding: 40px 60px;
  }
}

@media (max-width: 900px) {
  .homebox {
    padding: 40px 60px;
  }
}

@media (max-width: 650px) {
  .homebox {
    padding: 40px;
  }
}
